aiortc==1.3.2
matplotlib==3.5.1
numpy==1.22.3
streamlit==1.9.0
streamlit_webrtc==0.37.0
streamlit-webcam-example
scipy
scikit-learn
opencv-python-headless
torch
pydub==0.25.1
typing_extensions==4.1.1
protobuf~=3.19.0
